#root {
  height: 100%;
}

#root .ui.segment {
  border: 0;
  border-radius: 0px;
}

#root .pusher, #root .pusher>.ui.segment {
  height: 100%;
}

#root .pusher>.ui.segment {
  width: calc(100% - 150px);
  border-top-width: 5px !important;
}
